header, footer {
  display: none;
}

page {
  border: none;
}

body * {
  color: black;
}

span.source {
    display: none;
}

a {
    text-decoration: none;
}

a[href]:after {
   content:"" !important;
}
